@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src: url("../assets/fonts/Tungsten-Medium.ttf");
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}